android_notify.egg-info
lab/
upload_pypi.sh
auto_stuff.sh
todo.txt
.pylintrc
venv
.venv
docs/_build
lab.md
release-lab.md
__pycache__
.pytest_cache
.idea
action logs/
todo.md
.vscode
dist
build
bridges/android/local.properties
bridges/android/.gradle
bridges/android/android-notify-music-bridge/build
.docker-android
tests/scripts/ci/music-smoke/.buildozer
tests/scripts/ci/music-smoke/bin
tests/scripts/ci/music-smoke/android_notify
settings.xml