.components-page #images ul {
    margin-left: 20px;
    margin-top: 10px;

}

.components-page li {
    margin-block: 7px;

}

/* .components-page h3.paragraph{
    margin-top: 20px;
    font-size: 15px;
} */


@media screen and (max-width:500px) {
    .components-page .app-icon-h3 {
        font-size: 15px;
    }
}