.home-page .huge {
    font-size: 5rem;
    font-weight: 700;
    /* color: #333; */
    text-align: center;
    margin: 10px;
    /* font-family: 'Poppins', sans-serif; */

}

.version-deatils {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid grey;

}

.version-deatils:open {
    border: none;
    background-color: rgba(114, 114, 112, 0.082);

}

.version-deatils summary {
    color: rgb(250, 250, 91);
}