.main-page {
    padding: 20px;
    /* flex: 1; */
    /* border: 1px solid rgb(9, 234, 1); */
}

.main-page li{
    line-height: 25px;
}
.main-page h2 {
    margin-top: 20px;
    font-size: 26px;
}

.main-page .sub-header {
    margin-block: 15px;
    /* color: red; */
}

.main-page .inner-section-1 {
    margin-left: 10px;
}
.main-page .inner-section-2 {
    margin-left: 20px;
}

.main-page section{
    /* min-height: 40vh; */
}
.main-page section#features .inner-section-1 {
    margin-left: 25px;
}

.main-page section#introduction p {
    color: rgb(234, 234, 234);
}

.main-page p,.main-page li {
    color: rgb(222, 222, 222);
}

.main-page hr,
.main-page>section p {
    width: 95%;
}

.main-page .paragraph {
    margin-top: 15px;
}

.main-page hr {
    border: None;
    border-top: 1px solid white;
    margin-block: 20px;
}

@media screen and (max-width:500px) {
    .main-page section#features p {
        font-size: 13px;
    }
    .main-page h2.long-title{
        font-size: 20px;
    }
}