footer{
    padding: 2rem 15px;
    background-color: #171716;
    font-size: 13px;
    gap: 5px;
    color: white;
}
footer .support-links-box{
    align-self: center;
    gap: 5px;
    background-color: #b5d4b019;
    padding: 10px;
    border-radius: 5px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(70, 71, 71);
    width: max-content;
    max-width: 100%;
}